<% provide(:title, "O nas") %>
<div class="about">
<h1>O nas</h1>
<p>
  Dzięki temu portalowi, masz możliwość łatwego komunikowania się z innymi. Na bierząco poznajesz myśli obserwowanych przez Ciebie osób. Najlepszy portal jaki może być.
</p>
</div>