<% provide(:title, 'Contact') %>
<div class="contact">
<h1>Contact</h1>
   <div class="information">    
    <p>
      Imię: Damian
    </p>

    <p>
      Nazwisko: Centek        
    </p>

    <p>
      Email: dcentek@sigma.ud.edu.pl       
    </p>
   </div>
</div>
