<% provide(:title, "Pomoc") %>
<div class="help">
<h1>Pomoc</h1>
<p>
  Najczęściej zadawane pytania
</p>

<div class="question"> 
    Czemu tak się nazywa ten portal?

    <p>
        Ponieważ tak.
    </p>
</div>

<div class="question"> 
   Czemu nikt mnie nie obserwuję?
   <p>    
       Jesteś mało interesującą osobą, spróbuj to zmienić. 
    </p>
</div>   

</div>   