<footer class="footer">
  <small>
    Damian Centek
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nas",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://weblog.rubyonrails.org/">Nowości</a></li>
    </ul>
  </nav>
</footer>
